.form {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
}

.form input {
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 0 10px 8px;
  border-radius: var(--regular-radius);
  outline: none;
  color: #24232c;
  border: 1px solid var(--accent-white);
  transition: 0.75s ease-in;
}

.form input::placeholder {
  font-weight: 600;
}

.form input:focus-visible {
  border: 1px solid var(--accent-green);
}

.form button {
  border: 1px solid var(--accent-green);
  cursor: pointer;
  font-size: 16px;
  padding: 10px;
  border-radius: var(--regular-radius);
  background-color: var(--accent-green);
  border: 1px solid var(--accent-green);
  color: #24232c;
  font-weight: 700;
  transition: 0.5s ease-in;
}

.form button:hover {
  background-color: transparent;
  border: 1px solid var(--accent-green);
  color: var(--accent-green);
}

@media(max-width: 767px) {
  .form {
    width: 100%;
  }
}

