.filter {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.filter button {
  cursor: pointer;
  padding: 4px;
  width: 100%;
  border-radius: var(--regular-radius);
  background-color: var(--accent-green);
  color: #24232c;
  border: 1px solid #24232c;
}

.active {
  background-color: transparent !important;
  color: var(--accent-green) !important;
  border: 1px solid var(--accent-green) !important;
}

@media(max-width: 767px) {
  .filter {
    width: 100%;
    gap: 12px;
  }
  .filter button {
    padding: 10px;
  }
}